{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Sign Up</h2>
                    </div>

                    <form action="#" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="first_name" value=""
                                       placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="last_name" value=""
                                       placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="username" value=""
                                       placeholder="Username" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="email" class="form-control" name="email" value=""
                                       placeholder="Email Address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" name="password" value="" placeholder="Password"
                                       required>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" name="confirm_password" value="" placeholder="Confirm Password"
                                       required>
                            </div>

                        </div>
                        <div class="cart-btn mt-100">
                        <button type="submit" class="btn amado-btn w-100">Sign Up</>
                    </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}